aside {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(30deg , #0048bd, #44a7fd);
    border-top-right-radius: 80px;
    float: left;
    position: fixed;
    z-index: 1;
}

aside a {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

aside a:hover {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside a i {
    margin-right: 5px;
}

aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
}

aside p {
    margin: 0;
    padding: 40px 0;
}

body {
    font-family: 'Roboto';
    width: 100%;
    height: 100vh;
    margin: 0;
}

.message {
    position: absolute;
    right: 30px;
    top: 30%;
    max-width: 100px;
    border-radius: 30px;
    padding: 10px;
    color: #555;
    background:linear-gradient(50deg, #fff, #eee);
    box-shadow:
            .5px -.5px 1px 1px #fff,
            -1px 1px 1px 1px #888,
            -5px 8px 15px 1px #c7c7c7;
}
.top {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    float: right;
}
.box {
    width: 82%;
    height: 2000px;
    position:relative;
    background-color: #0048bd;
    float: right;
}
.box1 {
    width: 100%;
    height: auto;
    /*background-color: aliceblue;*/
}
#imgBox1 {
    width: 100%;
    height: 610px;
    margin: 0 auto;
}
#small img {
    width: 155px;
    height: 80px;
    margin: 4px;
}


